@charset "utf-8";

@import "compass/css3";

@import "hackleberry/themes/hackleberry";

@import "hackleberry/functions/all";

@import "hackleberry/mixins/all";

.scaffolding {
  @for $i from 1 through $rowGridLength {
    .#{$class_col}#{$i} {
      background-color: #eee;
      padding: 4px;
      text-align: center;
    }
  }
  .#{$class_row} {
    margin-bottom: 5px;
  }
}