@mixin floatLeft($arg:''){
  float: left#{$arg};
}
@mixin floatRight($arg:''){
  float: right#{$arg};
}
@mixin floatStatic($arg:''){
  float: static#{$arg};
}

@mixin col($num:0, $arg:''){
  width: #{getColWidth($num)}#{$rowBaseUnit}#{$arg};
  @include floatLeft();
  margin-left: #{$rowBaseMargin}#{$rowBaseUnit};
  &:first-child {
    margin-left: 0;
  }
}
@mixin offset($num:0, $arg:''){
  margin-left: #{getColWidth($num) + ($rowBaseMargin * 2)}#{$rowBaseUnit}#{$arg};
  &:first-child {
    margin-left: #{getColWidth($num) + ($rowBaseMargin)}#{$rowBaseUnit}#{$arg};
  }
}