/*****
* Config
*/

/**
* Scaffolding
*/
/* All */
$boxSizing:      'border-box';
$textSizeAdjust: 'none';
$tapHighlight: rgba(0,0,0,0);

/* Font */
$fontFamily: 'Helvetica,Arial,Sans-Serif,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic"';

/* Body */
$bodyBackgroundColor: '#f1f2f3';

/* Responsive */
$responsive: true; //true, false
$responsiveMinWidth: 580;

/*
* Layout
*/
/* container */
$containerUnit: 'px';
$containerMaxWidth: 960;
$containerMinWidth: 320;
$containerPosition: 'center';

/*
* Spacing
*/
/* spacing base */
$spacing: 5;
$spacingUnit: 'px';
$spacingLength: 5;

/* spacing outer */
$spacingOuter:       8;
$spacingOuterTop:    0;
$spacingOuterRight:  8;
$spacingOuterLeft:   8;
$spacingOuterBottom: 8;

/* spacingInner */
$spacingInner: 6;
$spacingInnerTop: 6;
$spacingInnerRight: 6;
$spacingInnerLeft: 6;
$spacingInnerBottom: 6;

/* border */
$borderColor: #ccc;

/* border-radius base */
$borderUnit: 'px';
/* border-radius outer */
$borderOuterRadius: 5;
$borderOuterRadiusTop: 5;
$borderOuterRadiusRight: 5;
$borderOuterRadiusLeft: 5;
$borderOuterRadiusBottom: 5;

/* border-radius inner */
$borderInnerRadius: 3;
$borderInnerRadiusTop: 3;
$borderInnerRadiusRight: 3;
$borderInnerRadiusLeft: 3;
$borderInnerRadiusBottom: 3;


/*
* Grid
*/
/* row */
$rowBaseUnit: '%';
$rowBaseWidth: 100;
$rowBaseMargin: 2;
$rowGridLength: 12;


/**
* Base Elements
*/

/*
* typography
*/
/* font-size */
$textDefaultSize: 14;
$textHugeSize:  ($textDefaultSize + 6);
$textJumboSize: ($textDefaultSize + 4);
$textLargeSize: ($textDefaultSize + 2);
$textMediumSize: $textDefaultSize;
$textSmallSize: ($textDefaultSize - 2);
$textTinySize:  ($textDefaultSize - 4);

/* line-height */
$textLineHeight: 1.5;


/*
* Lists
*/


/*
* tables
*/
$tableBorderColor           : #e7e8e9;
$tableBackgroundColor       : #f7f8f9;
$tableBackgroundHoverColor  : #e7e8e9;


/*
* Forms
*/


/*
* Images
*/
$imgRoundBorderRadius: $borderInnerRadius;

/*
* status
*/
/* color */
// default
$status_normalColor                  :'#345';
$status_minorColor                   :'#789';
$status_primaryColor                 :'#187abf';
$status_warningColor                 :'#c09853';
$status_successColor                 :'#34b842';
$status_errorColor                   :'#d14';
$status_disabledColor                :'#f7f7f9';
$status_requierdColor                :'#c09853';
$status_darkColor                    :'#123';
// active
$status_activeNormalColor            :'#789';
$status_activeMinorColor             :'#e1e2e3';
$status_activePrimaryColor           :'#187abf';
$status_activeWarningColor           :'#c09853';
$status_activeSuccessColor           :'#34b842';
$status_activeErrorColor             :'#d14';
$status_activeDisabledColor          :'#f7f7f9';
$status_activeRequierdColor          :'#c09853';
$status_activeDarkColor              :'#123';

$status_tappedColor                  :'';
$status_loadingColor                 :'';

/* backgroundColor */
// default
$status_normalBackgroundColor        :'';
$status_minorBackgroundColor         :'';
$status_primaryBackgroundColor       :'';
$status_warningBackgroundColor       :'';
$status_successBackgroundColor       :'';
$status_errorBackgroundColor         :'';
$status_disabledBackgroundColor      :'';
$status_requierdBackgroundColor      :'';
$status_darkBackgroundColor          :'';
// active
$status_activeNormalBackgroundColor  :'';
$status_activeMinorBackgroundColor   :'';
$status_activePrimaryBackgroundColor :'';
$status_activeWarningBackgroundColor :'';
$status_activeSuccessBackgroundColor :'';
$status_activeErrorBackgroundColor   :'';
$status_activeDisabledBackgroundColor:'';
$status_activeRequierdBackgroundColor:'';
$status_activeDarkBackgroundColor    :'';

$status_tappedBackgroundColor        :'';
$status_loadingBackgroundColor       :'';

/* borderColor */
// default
$status_normalBorderColor            :'#e1e2e3';
$status_minorBorderColor             :'#f6f6f6';
$status_primaryBorderColor           :'#8ddce3';
$status_warningBorderColor           :'#e3c18d';
$status_successBorderColor           :'#66d371';
$status_errorBorderColor             :'#d96464';
$status_disabledBorderColor          :'#e7e8e9';
$status_requierdBorderColor          :'#e3c18d';
$status_darkBorderColor              :'';
// active
$status_activeNormalBorderColor      :'#e6e6e6';
$status_activeMinorBorderColor       :'#f6f6f6';
$status_activePrimaryBorderColor     :'#8ddce3';
$status_activeWarningBorderColor     :'#e3c18d';
$status_activeSuccessBorderColor     :'#66d371';
$status_activeErrorBorderColor       :'#d96464';
$status_activeDisabledBorderColor    :'#e7e8e9';
$status_activeRequierdBorderColor    :'#e3c18d';
$status_activeDarkBorderColor        :'';

$status_tappedBorderColor            :'';
$status_loadingBorderColor           :'';


/**
* Components
*/

/*
* Cassette
*/
/* headline */
$headline_fontSize: $textMediumSize;
$headline_fontColor: '#fff';
$headline_spacingInnerTop:    7;
$headline_spacingInnerBottom: 7;
$headline_spacingInnerLeft:   7;
$headline_spacingInnerRight:  7;
$headline_iconSpacing:  4;

// skin
$headline_textShadow_skinBlue:   '#';
$headline_textShadow_skinPurple: '#';
$headline_textShadow_skinRed:    '#';
$headline_textShadow_skinOrange: '#';
$headline_textShadow_skinYellow: '#';
$headline_textShadow_skinGreen:  '#';
$headline_textShadow_skinGray:   '#';
$headline_textShadow_skinSilver: '#';

$headline_borderColor_skinBlue:   '#';
$headline_borderColor_skinPurple: '#';
$headline_borderColor_skinRed:    '#';
$headline_borderColor_skinOrange: '#';
$headline_borderColor_skinYellow: '#';
$headline_borderColor_skinGreen:  '#';
$headline_borderColor_skinGray:   '#';
$headline_borderColor_skinSilver: '#';

$headline_backgroundColor_skinBlue:   '#3498DB';
$headline_backgroundColor_skinPurple: '#9B59B6';
$headline_backgroundColor_skinRed:    '#E74C3C';
$headline_backgroundColor_skinOrange: '#E67E22';
$headline_backgroundColor_skinYellow: '#F1C40F';
$headline_backgroundColor_skinGreen:  '#1ABC9C';
$headline_backgroundColor_skinGray:   '#95A5A6';
$headline_backgroundColor_skinSilver: '#ECF0F1';

$headline_backgroundGradientTop_skinBlue:      #3498DB;
$headline_backgroundGradientBottom_skinBlue:   #3498DB;
$headline_backgroundGradientTop_skinPurple:    #9B59B6;
$headline_backgroundGradientBottom_skinPurple: #9B59B6;
$headline_backgroundGradientTop_skinRed:       #E74C3C;
$headline_backgroundGradientBottom_skinRed:    #E74C3C;
$headline_backgroundGradientTop_skinOrange:    #E67E22;
$headline_backgroundGradientBottom_skinOrange: #E67E22;
$headline_backgroundGradientTop_skinYellow:    #F1C40F;
$headline_backgroundGradientBottom_skinYellow: #F1C40F;
$headline_backgroundGradientTop_skinGreen:     #1ABC9C;
$headline_backgroundGradientBottom_skinGreen:  #1ABC9C;
$headline_backgroundGradientTop_skinGray:      #95A5A6;
$headline_backgroundGradientBottom_skinGray:   #95A5A6;
$headline_backgroundGradientTop_skinSilver:    #BDC3C7;
$headline_backgroundGradientBottom_skinSilver: #BDC3C7;


/* headline-lv2 */
$headline-lv2_backgroundColor_skinBlue:   '#d7e1ed';
$headline-lv2_backgroundColor_skinPurple: '#e7dceb';
$headline-lv2_backgroundColor_skinRed:    '#f8dfe2';
$headline-lv2_backgroundColor_skinOrange: '#ffdfb6';
$headline-lv2_backgroundColor_skinYellow: '#efeec9';
$headline-lv2_backgroundColor_skinGreen:  '#cde3e0';
$headline-lv2_backgroundColor_skinGray:   '#e4e2dc';
$headline-lv2_backgroundColor_skinSilver: '#f7f8f9';


/* cassette */
$cassette_borderColor:       $status_normalBorderColor;

$cassette_borderColorTop:    $status_normalBorderColor; 
$cassette_borderColorRight:  $status_normalBorderColor; 
$cassette_borderColorBottom: $status_normalBorderColor; 
$cassette_borderColorLeft:   $status_normalBorderColor; 


$cassette_backgroundColor:        '#fff';

$cassette_tappedColor:            '';
$cassette_tappedBackgroundColor:  '#d7e1ed';


/* Buttons */
$button_backgroundGradientTop_skinBlue:      #3498DB;
$button_backgroundGradientBottom_skinBlue:   #2980B9;
$button_backgroundGradientTop_skinRed:       #E74C3C;
$button_backgroundGradientBottom_skinRed:    #C0392B;
$button_backgroundGradientTop_skinPurple:    #9B59B6;
$button_backgroundGradientBottom_skinPurple: #8E44AD;
$button_backgroundGradientTop_skinOrange:    #E67E22;
$button_backgroundGradientBottom_skinOrange: #D35400;
$button_backgroundGradientTop_skinYellow:    #F1C40F;
$button_backgroundGradientBottom_skinYellow: #F39C12;
$button_backgroundGradientTop_skinGreen:     #1ABC9C;
$button_backgroundGradientBottom_skinGreen:  #16A085;
$button_backgroundGradientTop_skinGray:      #95A5A6;
$button_backgroundGradientBottom_skinGray:   #7F8C8D;
$button_backgroundGradientTop_skinSilver:    #ECF0F1;
$button_backgroundGradientBottom_skinSilver: #BDC3C7;



/*
* Icons
*/
$icon-ranking_fontSize: $textSmallSize;
$icon-ranking_fontColor: '#fff';


/*
* Visible
*/
//$fadein_:;
//$fadeout_:;
