/*****
* ClassName
*/

/**
* Scaffolding
*/
/* Layout */
$class_global-container: 'global-container';
$class_container: 'container';

/* Glid */
$class_row: 'row';
$class_col: 'col';
$class_offset: 'offset';
$class_spacing: 'spacing';


/**
* Base
*/
/* typography */
$class_lv1: 'lv1';
$class_lv2: 'lv2';
$class_lv3: 'lv3';
$class_lv4: 'lv4';
$class_lv5: 'lv5';
$class_lv6: 'lv6';

$class_sentence: 'sentence';
$class_lead: 'lead';
$class_line: 'line';

$class_huge: 'huge';
$class_jumbo: 'jumbo';
$class_large: 'large';
$class_medium: 'medium';
$class_small: 'small';
$class_tiny: 'tiny';

$class_normal: 'normal';
$class_bold: 'bold';
$class_italic: 'italic';

$class_left: 'left';
$class_center: 'center';
$class_right: 'right';

$class_top: 'top';
$class_middle: 'middle';
$class_bottom: 'bottom';
$class_baseline: 'baseline';

$class_blockquote: 'blockquote';
$class_address: 'address';
$class_code: 'code';

$class_ellipsis: 'ellipsis';

/* Lists */
$class_descriptions: 'descriptions';
$class_title: 'title';
$class_listHorizontal: 'horizontal';

/* Tables */
$class_table: 'table';
$class_tableStriped: 'striped';
$class_tableVertical: 'vertical';
$class_tableBordered: 'bordered';
$class_tableHovered: 'hovered';

/* Forms */
$class_form: 'form';
$class_formField: 'field';
$class_formLabel: 'label';
$class_formHorizontal: 'horizontal';
$class_formVertical: 'vertical';
$class_formHovered: 'hovered';

/* Images */
$class_imgRound: 'round';
$class_imgCircle: 'circle';
$class_imgPolaroid: 'polaroid';

/* Status */
$class_primary:  'primary';
$class_minor:    'minor';
$class_warning:  'warning';
$class_success:  'success';
$class_error:    'error';
$class_disabled: 'disabled';
$class_requierd: 'requierd';
$class_dark:     'dark';

$class_active:   'active';
$class_loading:  'loading';

/* Skin */
$class_skin-blue:   'skin-blue';
$class_skin-purple: 'skin-purple';
$class_skin-red:    'skin-red';
$class_skin-orange: 'skin-orange';
$class_skin-yellow: 'skin-yellow';
$class_skin-green:  'skin-green';
$class_skin-gray:   'skin-gray';
$class_skin-silver: 'skin-silver';

/**
* Components
*/
/* Cassette */
$class_unit: 'unit';
$class_headline: 'headline';
$class_headline-lv2: 'headline-lv2';
$class_cassette: 'cassette';
$class_inner: 'inner';

$class_tap: 'tap';
$class_tapped: 'tapped';

$class_seemore: 'seemore';

/* Flexible */
$class_flexible: 'flexible';
$class_wrap-icon: 'wrap-icon';
$class_item: 'item';
$class_item-caret: 'item-caret';
$class_item-button: 'item-button';

/* Buttons */
$class_button: 'button';
$class_group: 'group';

/**
* Icons
*/
$class_icon: 'icon';

/*
* Visible
*/
$class_show:    'show';
$class_hide:    'hide';
$class_fadein:  'fadein';
$class_fadeout: 'fadeout';
$class_zoomin:  'zoomin';
$class_zoomout: 'zoomout';

/*
* Position
*/
$class_static:   'static';
$class_relative: 'relative';
$class_absolute: 'absolute';
$class_fixed:    'fixed';
