/**
* Global
*/
/* All */
$boxSizing: 'border-box';

/* font */
$fontFamily: '"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",Helvetica,Arial,Sans-Serif';

/* background */


/**
* grid
*/
/* spacing base */
$spacing: 5;
$spacingUnit: 'px';
$spacingLength: 5;

/* spacing outer */
$spacingOuter: 10;
$spacingOuterTop: 0;
$spacingOuterRight: 10;
$spacingOuterLeft: 10;
$spacingOuterBottom: 10;

/* spacingInner */
$spacingInner: 7;
$spacingInnerTop: 7;
$spacingInnerRight: 7;
$spacingInnerLeft: 7;
$spacingInnerBottom: 7;

/* border */
$borderColor: #ccc;

/* border-radius base */
$borderUnit: 'px';
/* border-radius outer */
$borderOuterRadius: 5;
$borderOuterRadiusTop: 5;
$borderOuterRadiusRight: 5;
$borderOuterRadiusLeft: 5;
$borderOuterRadiusBottom: 5;

/* border-radius inner */
$borderInnerRadius: 3;
$borderInnerRadiusTop: 3;
$borderInnerRadiusRight: 3;
$borderInnerRadiusLeft: 3;
$borderInnerRadiusBottom: 3;

/* container */
$containerUnit: 'px';
$containerMaxWidth: 960;
$containerMinWidth: 320;
$containerPosition: 'center';

/* row */
$rowBaseUnit: '%';
$rowBaseWidth: 100;
$rowBaseMargin: 2;
$rowGridLength: 12;

/* className */
$class_unit: 'unit';
$class_cassette: 'cassette';

$class_container: 'container';
$class_row: 'row';
$class_col: 'col';
$class_offset: 'offset';
$class_spacing: 'spacing';

/*
* typography
*/
/* font-size */
$textDefaultSize: 14;
$textJumboSize: ($textDefaultSize + 4);
$textLargeSize: ($textDefaultSize + 2);
$textMediumSize: $textDefaultSize;
$textSmallSize: ($textDefaultSize - 2);
/* line-height */
$textLineHeight: 1.5;
/* color */
$textMutedColor: '#e1e2e3';
$textWarningColor: '#c09853';
$textErrorColor: '#d14';
$textPrimaryColor: '#187abf';
$textDisabledColor: '#f7f7f9';
$textSuccessColor: '#34b842';

/* className */
$class_lv1: 'lv1';
$class_lv2: 'lv2';
$class_lv3: 'lv3';
$class_lv4: 'lv4';
$class_lv5: 'lv5';
$class_lv6: 'lv6';

$class_text: 'text';
$class_lead: 'lead';

$class_sentence: 'sentence';
$class_small: 'small';
$class_medium: 'medium';
$class_large: 'large';
$class_jumbo: 'jumbo';

$class_normal: 'normal';
$class_bold: 'bold';
$class_italic: 'italic';

$class_left: 'left';
$class_center: 'center';
$class_right: 'right';

$class_blockquote: 'blockquote';
$class_address: 'address';
$class_code: 'code';

$class_ellipsis: 'ellipsis';

/**
* Lists
*/
$class_descriptions: 'descriptions';
$class_title: 'title';
$class_listHorizontal: 'horizontal';

/*
* tables
*/
$tableBorderColor: #e7e8e9;
$tableBackgroundColor: #f7f8f9;
$tableBackgroundHoverColor: #e7e8e9;

/* className */
$class_table: 'table';
$class_tableStriped: 'striped';
$class_tableVertical: 'vertical';
$class_tableHovered: 'hovered';

/*
* Forms
*/

/* className */
$class_form: 'form';
$class_formField: 'field';
$class_formHorizontal: 'horizontal';
$class_formVertical: 'vertical';
$class_formHovered: 'hovered';

/*
* buttons
*/
/* className */
$class_btn: 'btn';
$class_group: 'group';


/*
* status
*/
/* color */
$status_normal                  :'';
$status_primaryColor            :'';
$status_warningColor            :'';
$status_successColor            :'';
$status_errorColor              :'';
$status_disabledColor           :'';
$status_darkColor               :'';

$status_activeColor             :'';
$status_loadingColor            :'';

/* backgroundColor */
$status_normalBackgroundColor   :'';
$status_primaryBackgroundColor  :'';
$status_warningBackgroundColor  :'';
$status_successBackgroundColor  :'';
$status_errorBackgroundColor    :'';
$status_disabledBackgroundColor :'';
$status_darkBackgroundColor     :'';

$status_activeBackgroundColor   :'';
$status_loadingBackgroundColor  :'';

/* borderColor */
$status_normalBorderColor       :'';
$status_primaryBorderColor      :'';
$status_warningBorderColor      :'';
$status_successBorderColor      :'';
$status_errorBorderColor        :'';
$status_disabledBorderColor     :'';
$status_darkBorderColor         :'';

$status_activeBorderColor       :'';
$status_loadingBorderColor      :'';

/* boxShadow */
$status_normalBoxShadow         :'';
$status_normalBoxShadowInset    :'';
$status_primaryBoxShadow        :'';
$status_primaryBoxShadowInse    :'';
$status_warningBoxShadow        :'';
$status_warningBoxShadowInse    :'';
$status_successBoxShadow        :'';
$status_successBoxShadowInse    :'';
$status_errorBoxShadow          :'';
$status_errorBoxShadowInset     :'';
$status_disabledBoxShadow       :'';
$status_disabledBoxShadowIns    :'';
$status_darkBoxShadow           :'';
$status_darkBoxShadowInset      :'';

$status_activeBoxShadow         :'';
$status_loadingBoxShadowInse    :'';

/* gradient */
$status_normalGradientTop       :'#e6e6e6';
$status_normalGradientBottom    :'';
$status_primaryGradientTop      :'';
$status_primaryGradientBottom   :'';
$status_warningGradientTop      :'';
$status_warningGradientBottom   :'';
$status_successGradientTop      :'';
$status_successGradientBottom   :'';
$status_errorGradientTop        :'';
$status_errorGradientBottom     :'';
$status_disabledGradientTop     :'';
$status_disabledGradientBottom  :'';
$status_darkGradientTop         :'';
$status_darkGradientBottom      :'';

$status_activeGradientTop       :'';
$status_activeGradientBottom    :'';
$status_loadingGradientTop      :'';
$status_loadingGradientBottom   :'';

/* className */
$class_primary: 'primary';
$class_warning: 'warning';
$class_success: 'success';
$class_error: 'error';
$class_disabled: 'disabled';
$class_dark: 'dark';

$class_active: 'active';
$class_loading: 'loading';
