@mixin floatLeft($arg:''){
  float: left#{$arg};
}
@mixin floatRight($arg:''){
  float: right#{$arg};
}
@mixin floatStatic($arg:''){
  float: static#{$arg};
}

@mixin span($num:0, $arg:''){
  width: #{($rowBaseWidth / ($rowgridLength / $num))}#{$rowBaseUnit}#{$arg};
}
@mixin offset($num:0, $arg:''){
  margin-left: #{($rowBaseWidth / ($rowgridLength / $num))}#{$rowBaseUnit}#{$arg};
}