@mixin floatLeft($arg:''){
  float: left#{$arg};
}
@mixin floatRight($arg:''){
  float: right#{$arg};
}
@mixin floatStatic($arg:''){
  float: static#{$arg};
}

@mixin span($num:0, $arg:''){
  width: #{(getSpanWidth() * $num) + ($rowBaseMargin * $num) - $rowBaseMargin}#{$rowBaseUnit}#{$arg};
  margin-left: #{$rowBaseMargin}#{$rowBaseUnit};
  &:first-child {
    margin-left: 0;
  }
}
@mixin offset($num:0, $arg:''){
  margin-left: #{($rowBaseMargin + (getSpanWidth() * $num))}#{$rowBaseUnit}#{$arg};
}