@mixin sentence($arg: ''){
  line-height: #{$textLineHeight}#{$arg};
}
@mixin small($arg: ''){
  font-size: #{$textSmallSize}px#{$arg};
}
@mixin medium($arg: ''){
  font-size: #{$textMediumSize}px#{$arg};
}
@mixin large($arg: ''){
  font-size: #{$textLargeSize}px#{$arg};
}
@mixin jumbo($arg: ''){
  font-size: #{$textJumboSize}px#{$arg};
}

@mixin normal($arg: ''){
  font-weight: normal#{$arg};
}
@mixin bold($arg: ''){
  font-weight: bold#{$arg};
}
@mixin italic($arg: ''){
  font-style: italic#{$arg};
}

@mixin left($arg: ''){
  text-align: left#{$arg};
}
@mixin center($arg: ''){
  text-align: center#{$arg};
}
@mixin right($arg: ''){
  text-align: right#{$arg};
}

@mixin ellipsis($arg: ''){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis#{$arg};
}
