@mixin sentence {
  line-height: #{$textLineHeight};
}
@mixin small {
  font-size: #{$textSmallSize}px;
}
@mixin medium {
  font-size: #{$textMediumSize}px;
}
@mixin large {
  font-size: #{$textLargeSize}px;
}