@charset "utf-8";
/* params */
/**
* @theme: hackleberry
*/
/*****
* ClassName
*/
/**
* Scaffolding
*/
/* Layout */
/* Glid */
/**
* Base
*/
/* typography */
/* Lists */
/* Tables */
/* Forms */
/* Images */
/* Status */
/* Skin */
/**
* Components
*/
/* Cassette */
/* Flexible */
/* Buttons */
/**
* Icons
*/
/*
* Visible
*/
/*
* Position
*/
/*****
* Config
*/
/**
* Scaffolding
*/
/* All */
/* Font */
/* Body */
/* Responsive */
/*
* Layout
*/
/* container */
/*
* Spacing
*/
/* spacing base */
/* spacing outer */
/* spacingInner */
/* border */
/* border-radius base */
/* border-radius outer */
/* border-radius inner */
/*
* Grid
*/
/* row */
/**
* Base Elements
*/
/*
* typography
*/
/* font-size */
/* line-height */
/*
* Lists
*/
/*
* tables
*/
/*
* Forms
*/
/*
* Images
*/
/*
* status
*/
/* color */
/* backgroundColor */
/* borderColor */
/**
* Components
*/
/*
* Cassette
*/
/* headline */
/* caption */
/* cassette */
/* Buttons */
/*
* Icons
*/
/*
* Visible
*/
/**
* Reset Module
*/
@-webkit-keyframes _tapped {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: #d7e1ed;
  }
}

@-webkit-keyframes _fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes _fadeout {
  0% {
    opacity: 1.0;
  }

  99% {
    opacity: 0;
  }

  100% {
    display: none;
  }
}

@-webkit-keyframes _zoomin {
  0% {
    -webkit--webkit-transform: scale(0.9);
    -moz--webkit-transform: scale(0.9);
    -ms--webkit-transform: scale(0.9);
    -o--webkit-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    opacity: 0.5;
  }

  100% {
    -webkit--webkit-transform: scale(1);
    -moz--webkit-transform: scale(1);
    -ms--webkit-transform: scale(1);
    -o--webkit-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1.0;
  }
}

@-webkit-keyframes _zoomout {
  0% {
    -webkit--webkit-transform: scale(1);
    -moz--webkit-transform: scale(1);
    -ms--webkit-transform: scale(1);
    -o--webkit-transform: scale(1);
    -webkit-transform: scale(1);
  }

  99% {
    -webkit--webkit-transform: scale(0.5);
    -moz--webkit-transform: scale(0.5);
    -ms--webkit-transform: scale(0.5);
    -o--webkit-transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }

  100% {
    display: none;
  }
}

/* instance */
.header {
  margin-top: 50px;
}

.reference .col1 {
  background-color: #eee;
  border: solid 1px #ccc;
  padding: 4px;
  text-align: center;
}
.reference .col2 {
  background-color: #eee;
  border: solid 1px #ccc;
  padding: 4px;
  text-align: center;
}
.reference .col3 {
  background-color: #eee;
  border: solid 1px #ccc;
  padding: 4px;
  text-align: center;
}
.reference .col4 {
  background-color: #eee;
  border: solid 1px #ccc;
  padding: 4px;
  text-align: center;
}
.reference .col5 {
  background-color: #eee;
  border: solid 1px #ccc;
  padding: 4px;
  text-align: center;
}
.reference .col6 {
  background-color: #eee;
  border: solid 1px #ccc;
  padding: 4px;
  text-align: center;
}
.reference .col7 {
  background-color: #eee;
  border: solid 1px #ccc;
  padding: 4px;
  text-align: center;
}
.reference .col8 {
  background-color: #eee;
  border: solid 1px #ccc;
  padding: 4px;
  text-align: center;
}
.reference .col9 {
  background-color: #eee;
  border: solid 1px #ccc;
  padding: 4px;
  text-align: center;
}
.reference .col10 {
  background-color: #eee;
  border: solid 1px #ccc;
  padding: 4px;
  text-align: center;
}
.reference .col11 {
  background-color: #eee;
  border: solid 1px #ccc;
  padding: 4px;
  text-align: center;
}
.reference .col12 {
  background-color: #eee;
  border: solid 1px #ccc;
  padding: 4px;
  text-align: center;
}
.reference .row {
  margin-bottom: 5px;
}

.fixed {
  position: fixed;
  top: 0;
}

.example,
.gist {
  margin: 1em 0;
  padding: 1em 0;
  border-top: solid 1px #f1f2f3;
}
.example .gist-data,
.gist .gist-data {
  background-color: #f7f8f9 !important;
}
.example .line,
.example .line-number,
.gist .line,
.gist .line-number {
  font-size: 12px;
  line-height: 18px;
}

#globalMenu {
  width: 100%;
}
