@charset "utf-8";
/**
* Global
*/
/* All */
/**
* grid
*/
/* spacing base */
/* spacing outer */
/* spacingInner */
/* border-radius base */
/* border-radius outer */
/* border-radius inner */
/* container */
/* row */
/* className */
/*
* typography
*/
/* font-size */
/* line-height */
/* color */
/* className */
/**
* Lists
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/funnythingz\/github\/hackleberry\/sass\/scaffolding\.scss}line{font-family:\0000313}}
.scaffolding .col1 {
  background-color: #eee;
  padding: 4px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/funnythingz\/github\/hackleberry\/sass\/scaffolding\.scss}line{font-family:\0000313}}
.scaffolding .col2 {
  background-color: #eee;
  padding: 4px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/funnythingz\/github\/hackleberry\/sass\/scaffolding\.scss}line{font-family:\0000313}}
.scaffolding .col3 {
  background-color: #eee;
  padding: 4px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/funnythingz\/github\/hackleberry\/sass\/scaffolding\.scss}line{font-family:\0000313}}
.scaffolding .col4 {
  background-color: #eee;
  padding: 4px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/funnythingz\/github\/hackleberry\/sass\/scaffolding\.scss}line{font-family:\0000313}}
.scaffolding .col5 {
  background-color: #eee;
  padding: 4px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/funnythingz\/github\/hackleberry\/sass\/scaffolding\.scss}line{font-family:\0000313}}
.scaffolding .col6 {
  background-color: #eee;
  padding: 4px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/funnythingz\/github\/hackleberry\/sass\/scaffolding\.scss}line{font-family:\0000313}}
.scaffolding .col7 {
  background-color: #eee;
  padding: 4px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/funnythingz\/github\/hackleberry\/sass\/scaffolding\.scss}line{font-family:\0000313}}
.scaffolding .col8 {
  background-color: #eee;
  padding: 4px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/funnythingz\/github\/hackleberry\/sass\/scaffolding\.scss}line{font-family:\0000313}}
.scaffolding .col9 {
  background-color: #eee;
  padding: 4px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/funnythingz\/github\/hackleberry\/sass\/scaffolding\.scss}line{font-family:\0000313}}
.scaffolding .col10 {
  background-color: #eee;
  padding: 4px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/funnythingz\/github\/hackleberry\/sass\/scaffolding\.scss}line{font-family:\0000313}}
.scaffolding .col11 {
  background-color: #eee;
  padding: 4px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/funnythingz\/github\/hackleberry\/sass\/scaffolding\.scss}line{font-family:\0000313}}
.scaffolding .col12 {
  background-color: #eee;
  padding: 4px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/funnythingz\/github\/hackleberry\/sass\/scaffolding\.scss}line{font-family:\0000319}}
.scaffolding .row {
  margin-bottom: 5px;
}
