.#{$class_form} {
  .field {
    margin-bottom: #{$spacing}#{$spacingUnit};
    &:last-child {
      margin-bottom: 0;
    }
  }
  input[type="text"],
  input[type="password"],
  textarea {
    @include medium;
    padding: #{($spacingInner/2)}#{$spacingUnit} #{$spacingInner}#{$spacingUnit};
    border: solid 1px #{$status_normalBorderColor};
    
    /* status */
    &.#{$class_success} {
      border: solid 1px #{$status_primaryBorderColor};
    }
    &.#{$class_error} {
      border: solid 1px #{$status_errorBorderColor};
    }
    &.#{$class_warning} {
      border: solid 1px #{$status_warningBorderColor};
    }
    &.#{$class_disabled} {
      border: solid 1px #{$status_disabledBorderColor};
    }
    &.#{$class_requierd} {
      border: solid 1px #{$status_requierdBorderColor};
    }
  }
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: #{$spacing}px;
  }
  select {
    border: solid 1px #{$status_normalBorderColor};
    @include medium;
    font-family: none;
  }
  select:not([multiple="multiple"]) {
    height: #{floor(($textMediumSize * $textLineHeight) * 1.2)}px
  }
  select[multiple="multiple"] {
    padding: #{($spacingInner/2)}#{$spacingUnit};
  }
}
