.#{$class_headline} {
  padding: #{$headline_spacingInnerTop}px #{$headline_spacingInnerRight}px #{$headline_spacingInnerBottom}px #{$headline_spacingInnerLeft}px;
  height: 32px;
  font-size: #{$headline_fontSize}px;
  line-height: 18px;
  @include bold;
  color: #{$headline_fontColor};
  text-shadow: 0 -1px 0 #{$headline_textShadow_skinBlue};
  //border: solid 1px #{$headline_borderColor_skinBlue};
  @include border-top-radius(5px);
  @include background-image(linear-gradient($headline_backgroundGradientTop_skinBlue,$headline_backgroundGradientBottom_skinBlue));

  /* last-childの場合 */
  &:last-child{
    @include border-bottom-radius(5px);
  }
  &.only-child {
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);
  }

  /* 帯のカラーが変わる場合 */
  &.#{$class_skin-pink} {
    text-shadow: 0 -1px 0 #{$headline_textShadow_skinPink};
    //border: solid 1px #{$headline_borderColor_skinPink};
    @include background-image(linear-gradient($headline_backgroundGradientTop_skinPink,$headline_backgroundGradientBottom_skinPink));
  }
  &.#{$class_skin-orange} {
    text-shadow: 0 -1px 0 #{$headline_textShadow_skinOrange};
    //border: solid 1px #{$headline_borderColor_skinOrange};
    @include background-image(linear-gradient($headline_backgroundGradientTop_skinOrange,$headline_backgroundGradientBottom_skinOrange));
  }
  &.#{$class_skin-yellow} {
    text-shadow: 0 -1px 0 #{$headline_textShadow_skinYellow};
    //border: solid 1px #{$headline_borderColor_skinYellow};
    @include background-image(linear-gradient($headline_backgroundGradientTop_skinYellow,$headline_backgroundGradientBottom_skinYellow));
  }
  &.#{$class_skin-green} {
    text-shadow: 0 -1px 0 #{$headline_textShadow_skinGreen};
    //border: solid 1px #{$headline_borderColor_skinGreen};
    @include background-image(linear-gradient($headline_backgroundGradientTop_skinGreen,$headline_backgroundGradientBottom_skinGreen));
  }
  &.#{$class_skin-gray} {
    text-shadow: 0 -1px 0 #{$headline_textShadow_skinGray};
    //border: solid 1px #{$headline_borderColor_skinGray};
    @include background-image(linear-gradient($headline_backgroundGradientTop_skinGray,$headline_backgroundGradientBottom_skinGray));
  }
}
